body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .sc-pGacB{
  font-size: 14px;
} */

@font-face {
  font-family: 'digital-7regular';
  src: url('fonts/digital-7-webfont.woff2') format('woff2'),
       url('fonts/digital-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

nav ul {
  max-width: 200px;
}
nav ul li{
  margin: 10px 0px 10px 0px;
  padding: 10px;
}
nav ul a{
  text-decoration:none;;
  color: black;
}
nav li.active{
   background-color: #d9760b;
}
