.panel.yellowBG{
    background-color: yellow;
    padding-bottom:20px;
}

.panel.whiteBG{
    background-color: white;;
    padding-bottom:20px;
}

.timer-selection-container.hidden{
    display:none;
}

.panel.editItem{
    padding-top:20px;
}

.queue {
    text-align:left;
}