.panel.yellowBG{
    background-color: yellow;
    padding: 15px;
}

.panel.whiteBG{
    background-color: white;;
    padding:15px;
}

.timer-selection-container.hidden{
    display:none;
}

.panel.editItem{
    padding-left:15px;
}

.queue {
    text-align:left;
}